<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Edit Player</title>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://e7.pngegg.com/pngimages/17/380/png-clipart-football-small-ball-s-sport-monochrome.png" width="40" height="15">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/nation" class="navbar-item">
                    Nation
                </a>

                <a href="/player" class="navbar-item">
                    Player
                </a>
            </div>
        </div>
    </nav>
    <form method="post">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="name" type="text" value="<%= player.name %>">
                    </div>
                    <p class="help is-danger">
                        This field is required
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Club</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="club">
                                <%for (let club of clubList){ %>
                                    <option value="<%= club.name %>"
                                        <%=JSON.stringify(club.name)===JSON.stringify(player.club) ? 'selected' : '' %>>
                                        <%= club.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Position</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="position">
                                <%for (let position of positionList){ %>
                                    <option value="<%= position.name %>"
                                        <%=JSON.stringify(position.name)===JSON.stringify(player.position) ? 'selected'
                                        : '' %>>
                                        <%= position.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Goals</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="goals" type="number" value="<%= player.goals %>">
                    </div>
                    <p class="help is-danger">
                        This field is required
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">isCaptain</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="isCaptain">
                                <option value=true <% if (player.isCaptain===true) { %>selected<% } %>>
                                        true
                                </option>
                                <option value=false <% if (player.isCaptain===false) { %>selected<% } %>>
                                        false
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="help is-danger">
                        This field is required
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Image</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input is-info" name="image" type="text" value="<%= player.image %>">
                    </div>
                    <p class="help is-danger">
                        This field is required
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>